html {
  width: -moz-available;          
  width: -webkit-fill-available;  
}

body {
  position: absolute;
  margin: 0 auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}

.container-fluid {
  padding-top: 0;
  width: 100vw;
  height: 350vh;
  display: flex;
  justify-content: center;
  
}

.img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}

/* Style the button and place it in the middle of the container/image */
.btn-map {
  width: 60px;
  height: auto;
  position: absolute;
}

.map {
  width: 100px;
  height: auto;
  position: absolute;
  top: 245vh;  
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  padding: 12px 16px;
  border: none;
  cursor: pointer;
}

.contact {
  width: 100px;
  height: auto;
  position: fixed;
  top: 51%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  font-family: 'Great Vibes', 'cursive';
  font-size: 22px;
}

/* Placing of Navigation Bar*/
.navbar {
list-style-type: none;
overflow: hidden;
background-color: #333;
position: fixed;
bottom: 0;
width: 100%;
display: flex;
justify-content: center;
}

/* Navigation bar styling*/
.navbar a {
display: flex;
color: #f2f2f2;
text-align: center;
padding: 2px 8px;
font-family: 'Great Vibes', cursive;
text-decoration: none;
font-size: 22px;
bottom: 0;
}

/* Change the color of links on hover */
.navbar a:hover {
background-color: rgb(255, 255, 255);
color: black;
}

/* Add a color to the active/current link */
.navbar a.active {
background-color: #333;
color: rgb(255, 255, 255);
}

/* Home Page (index.html)*/
.container-main {
  padding-top: 0;
  margin: 0 auto;
  width: 100%;
  height: 93vh;
  display: flex;
  justify-content: center;
    }

img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;

}
